<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Bookstore</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="styles/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.2/jquery.fancybox.min.css">
    <link rel="stylesheet" type="text/css" href="styles/main.css">
</head>

<body>
    <div class="container-fluid" id="app">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark d-flex justify-content-between fixed-top">
            <a class="navbar-brand" href="#"><img src="styles/images/1424934251books-songs-.png" class="logoImg">Bookstore</a>
            <form class="form-inline my-2 my-lg-0">
                <input v-model="searched" class="form-control mr-sm-2 searchInput" type="text" placeholder="Search for books">
            </form>
        </nav>

        <div class="bookSpace">
            <div class="flip-card" v-for="book in filterSearchedBooks">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img v-bind:src="book.cover" alt="Avatar" class="coverImage">

                    </div>
                    <div class="flip-card-back bg-dark">
                        <div class="bookTitle">
                            <h4>{{book.title}}</h4>
                        </div>
                        <div class="bookDescription">
                            <p>{{book.description}}</p>
                        </div>
                        <div class="bookButton">
                            <button class="btn btn-outline-warning"><a class="text-white" v-bind:href="book.detail" data-fancybox="images">More Info</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <h2 id="noMatchingResult">Sorry, no books were found. Please search again.</h2>




    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.2/jquery.fancybox.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="js/main.js"></script>
</body>

</html>
